In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
from importlib import reload

In [3]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [4]:
from data_cleaning import data_cleaning as dc

In [13]:
reload(dc)

In [14]:
df = dc.clean_data('../data/Contract_Details_PuckPedia_Mar_2019_Confidential_2.csv')

ValueError: invalid literal for int() with base 10: '?'

In [8]:
df = pd.read_csv('../data/Contract_Details_PuckPedia_Mar_2019_Confidential_2.csv')

In [9]:
df.head()

,player_id,first_name,last_name,position,birthdate,season,team_id,team_name,cap_hit,base_salary,...,signing_date,signing_team,length,value,contract_level,contract_id,expiry_status,contract_type,contract_end,ufa_year
0,103,Roberto,Luongo,Goaltender,4/4/79,2006-2007,14.0,Panthers,"$6,750,000","$6,000,000",...,6/29/06,Vancouver Canucks,4.0,"$27,000,000",standard_level,442,UFA,history,2009-2010,2006.0
1,103,Roberto,Luongo,Goaltender,4/4/79,2007-2008,14.0,Panthers,"$6,750,000","$6,500,000",...,6/29/06,Vancouver Canucks,4.0,"$27,000,000",standard_level,442,UFA,history,2009-2010,2006.0
2,103,Roberto,Luongo,Goaltender,4/4/79,2008-2009,14.0,Panthers,"$6,750,000","$7,000,000",...,6/29/06,Vancouver Canucks,4.0,"$27,000,000",standard_level,442,UFA,history,2009-2010,2006.0
3,103,Roberto,Luongo,Goaltender,4/4/79,2009-2010,14.0,Panthers,"$6,750,000","$7,500,000",...,6/29/06,Vancouver Canucks,4.0,"$27,000,000",standard_level,442,UFA,history,2009-2010,2006.0
4,103,Roberto,Luongo,Goaltender,4/4/79,2010-2011,14.0,Panthers,"$5,333,333","$10,000,000",...,9/2/09,NaN,12.0,"$63,999,996",standard_level,4124,UFA,current,2021-2022,2006.0

In [15]:
df.columns

Index(['player_id', 'first_name', 'last_name', 'position', 'birthdate',
       'season', 'team_id', 'team_name', 'cap_hit', 'base_salary', 'p_bonuses',
       's_bonuses', 'total_salary', 'active', 'buyout_id', 'signing_date',
       'signing_team', 'length', ' value ', 'contract_level', 'contract_id',
       'expiry_status', 'contract_type', 'contract_end', 'ufa_year'],
      dtype='object')

In [17]:
len(set(df.contract_id[df.contract_level != 'entry_level']))

2865

In [25]:
df[df.cap_hit == ' ? ']

,player_id,first_name,last_name,position,birthdate,season,team_id,team_name,cap_hit,base_salary,...,signing_date,signing_team,length,value,contract_level,contract_id,expiry_status,contract_type,contract_end,ufa_year
1303,1437,Alexander,Radulov,Right Wing,7/5/86,2011-2012,20.0,Stars,?,"$984,200",...,NaN,NaN,NaN,NaN,standard_level,2132,NaN,history,2011-2012,2013.0

In [28]:
df.length = df.length.apply(lambda x: if x.isnull(): x = 0 else: int(x))

SyntaxError: invalid syntax (<ipython-input-28-5dd581b82a66>, line 1)

In [ ]:
df.length.isn