In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
from importlib import reload

In [4]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [5]:
from data_cleaning import data_cleaning as dc

In [58]:
reload(dc)

In [59]:
df = dc.clean_data()

TypeError: ufunc subtract cannot use operands with types dtype('O') and dtype('<M8[ns]')

In [45]:
dff.to_csv('../data/contracts_clean.csv', index=False, header=False)

In [43]:
dff.iloc[0]

contract_id                 4124
player_id                    103
Player            Roberto Luongo
position              Goaltender
length                        12
cap_hit                  5333333
total_value             63999996
cap_pct                     9.39
signing_date          2009-09-02
signing_year                2009
signing_age                   30
signing_team                 NaN
expiry_status                UFA
signing_status               UFA
Name: 0, dtype: object

In [20]:
df.columns

Index(['player_id', 'first_name', 'last_name', 'position', 'birthdate',
       'season', 'team_id', 'team_name', 'cap_hit', 'active', 'signing_date',
       'signing_team', 'length', 'contract_level', 'contract_id',
       'expiry_status', 'contract_type', 'contract_end', 'ufa_year',
       'total_value', 'Player', 'signing_year', 'signing_year_cap', 'cap_pct',
       'signing_age'],
      dtype='object')

In [42]:
dff['signing_date'] = pd.DatetimeIndex(dff['signing_date']).date

/Users/colinshanahan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
dff = df.groupby('contract_id').head(1)

In [23]:
dff.shape

(2004, 25)

In [25]:
dff.head()

,player_id,first_name,last_name,position,birthdate,season,team_id,team_name,cap_hit,active,...,expiry_status,contract_type,contract_end,ufa_year,total_value,Player,signing_year,signing_year_cap,cap_pct,signing_age
0,103,Roberto,Luongo,Goaltender,1979-04-04,2015,14.0,Panthers,5333333,1.0,...,UFA,current,2021,2006,63999996,Roberto Luongo,2009,56800000,9.39,30
7,155,Ryan,Miller,Goaltender,1980-07-17,2015,25.0,Ducks,6000000,1.0,...,UFA,history,2016,2008,18000000,Ryan Miller,2014,69000000,8.70,33
9,155,Ryan,Miller,Goaltender,1980-07-17,2017,25.0,Ducks,2000000,1.0,...,UFA,current,2018,2008,4000000,Ryan Miller,2017,75000000,2.67,36
11,156,Craig,Anderson,Goaltender,1981-05-21,2015,9.0,Senators,4200000,1.0,...,UFA,history,2017,2008,12600000,Craig Anderson,2014,69000000,6.09,33
14,156,Craig,Anderson,Goaltender,1981-05-21,2018,9.0,Senators,4750000,1.0,...,UFA,current,2019,2008,9500000,Craig Anderson,2017,75000000,6.33,36

In [26]:
def ufa_check(x):
    if x == True:
        return 'UFA'
    else:
        return 'RFA'

In [27]:
dff['signing_status'] = dff['signing_year'] >= dff['ufa_year']
dff['signing_status'] = dff['signing_status'].apply(ufa_check)

/Users/colinshanahan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/colinshanahan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
dff.sample(8)

,player_id,first_name,last_name,position,birthdate,season,team_id,team_name,cap_hit,active,...,contract_type,contract_end,ufa_year,total_value,Player,signing_year,signing_year_cap,cap_pct,signing_age,signing_status
1848,3678,Calvin,de Haan,Defense,1991-05-09,2017,5.0,Hurricanes,3300000,1.0,...,history,2017,2018,3300000,Calvin de Haan,2017,75000000,4.40,26,RFA
6453,16932,Calle,Rosen,Defense,1994-02-02,2019,8.0,Maple Leafs,750000,0.0,...,future,2020,2021,1500000,Calle Rosen,2018,79500000,0.94,24,RFA
5759,6577,Joel,Hanley,Defense,1991-06-08,2016,20.0,Stars,600000,NaN,...,history,2016,2018,600000,Joel Hanley,2016,73000000,0.82,25,RFA
2696,4335,Cam,Atkinson,Right Wing,1989-06-05,2015,30.0,Blue Jackets,3500000,1.0,...,history,2017,2016,10500000,Cam Atkinson,2015,71400000,4.90,25,RFA
816,2475,Jamie,McGinn,Left Wing,1988-08-05,2015,14.0,Panthers,2950000,1.0,...,history,2015,2016,5900000,Jamie McGinn,2014,69000000,4.28,25,RFA
4388,5709,Carter,Verhaeghe,Left Wing,1995-08-14,2018,17.0,Lightning,650000,NaN,...,current,2018,2023,650000,Carter Verhaeghe,2018,79500000,0.82,22,RFA
3355,4756,Paul,Carey,Center,1988-09-24,2018,3.0,Bruins,700000,NaN,...,current,2018,2016,700000,Paul Carey,2018,79500000,0.88,29,UFA
1722,3564,Jordan,Schroeder,Left Wing,1990-09-29,2017,22.0,Blackhawks,650000,0.0,...,current,2018,2018,1300000,Jordan Schroeder,2017,75000000,0.87,26,RFA

In [24]:
dff.columns

Index(['player_id', 'first_name', 'last_name', 'position', 'birthdate',
       'season', 'team_id', 'team_name', 'cap_hit', 'active', 'signing_date',
       'signing_team', 'length', 'contract_level', 'contract_id',
       'expiry_status', 'contract_type', 'contract_end', 'ufa_year',
       'total_value', 'Player', 'signing_year', 'signing_year_cap', 'cap_pct',
       'signing_age'],
      dtype='object')

In [38]:
dff = dff[['contract_id', 'player_id', 'Player', 
          'position', 'length', 'cap_hit', 'total_value', 'cap_pct',
           'signing_date', 'signing_year', 'signing_age', 'signing_team', 
           'expiry_status', 'signing_status']]

In [33]:
dff.head()

,contract_id,player_id,Player,first_name,last_name,position,length,cap_hit,total_value,cap_pct,signing_date,signing_year,signing_age,signing_team,expiry_status,signing_status
0,4124,103,Roberto Luongo,Roberto,Luongo,Goaltender,12,5333333,63999996,9.39,2009-09-02,2009,30,NaN,UFA,UFA
7,2837,155,Ryan Miller,Ryan,Miller,Goaltender,3,6000000,18000000,8.70,2014-07-01,2014,33,Vancouver Canucks,UFA,UFA
9,2832,155,Ryan Miller,Ryan,Miller,Goaltender,2,2000000,4000000,2.67,2017-07-01,2017,36,Anaheim Ducks,UFA,UFA
11,4078,156,Craig Anderson,Craig,Anderson,Goaltender,3,4200000,12600000,6.09,2014-08-25,2014,33,NaN,UFA,UFA
14,4079,156,Craig Anderson,Craig,Anderson,Goaltender,2,4750000,9500000,6.33,2017-09-29,2017,36,NaN,UFA,UFA

In [34]:
dff.shape

(2004, 16)

In [25]:
df_pst = pd.read_csv('../data/all_pst.csv')

In [12]:
df['Player'] = df['first_name'] + ' ' + df['last_name']

In [15]:
df['Player'].sample(8)

3547      Patrick Sieloff
1621         Chad Johnson
1902    Jakob Silfverberg
4087        Chad Ruhwedel
2604     Korbinian Holzer
3952    Frederik Gauthier
2054       Mitch Callahan
2205        Charlie Coyle
Name: Player, dtype: object

In [ ]:
df['Player_Year'] = df['Player'] + ' ' + df['signing_year']

In [12]:
df_pst.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Player', 'Team', 'Position', 'GP', 'TOI',
       'Goals', 'Total Assists', 'First Assists', 'Second Assists',
       'Total Points', 'IPP', 'Shots', 'SH%', 'iCF', 'iFF', 'iSCF', 'iHDCF',
       'Rush Attempts', 'Rebounds Created', 'PIM', 'Total Penalties', 'Minor',
       'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways',
       'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost',
       'Faceoffs %'],
      dtype='object')

In [26]:
df_pst.head()

,Unnamed: 0,Unnamed: 0.1,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,...,Misconduct,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs Won,Faceoffs Lost,Faceoffs %
0,0,2017,Connor McDavid,EDM,C,82,1766.800000,41,67,39,...,0,36,67,111,28,118,46,376,533,41.36
1,1,2017,Claude Giroux,PHI,C,82,1669.800000,34,68,33,...,0,26,44,34,30,54,23,638,450,58.64
2,2,2017,Nikita Kucherov,T.B,R,80,1585.716667,39,61,33,...,0,36,79,66,31,92,15,3,2,60.00
3,3,2017,Evgeni Malkin,PIT,C,78,1481.216667,42,56,32,...,1,30,73,75,48,98,32,460,592,43.73
4,4,2017,Nathan MacKinnon,COL,C,74,1472.983333,39,58,38,...,1,24,41,36,38,74,22,485,672,41.92

In [27]:
df_pst.drop('Unnamed: 0', axis=1, inplace=True)

In [28]:
df_pst['Season'] = df_pst['Unnamed: 0.1']
df_pst.drop('Unnamed: 0.1', axis = 1, inplace=True)

In [29]:
df_pst['Season_Player'] = str(df_pst['Season']) + ' ' + df_pst['Player']

In [30]:
df_pst.columns

Index(['Player', 'Team', 'Position', 'GP', 'TOI', 'Goals', 'Total Assists',
       'First Assists', 'Second Assists', 'Total Points', 'IPP', 'Shots',
       'SH%', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts',
       'Rebounds Created', 'PIM', 'Total Penalties', 'Minor', 'Major',
       'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits',
       'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost',
       'Faceoffs %', 'Season', 'Season_Player'],
      dtype='object')

In [33]:
df_pst = df_pst[['Season_Player', 'Player', 'Season', 'Position', 'GP', 'TOI', 'Goals', 
                'Total Assists', 'First Assists', 'Second Assists', 'Total Points',
               'IPP', 'Shots', 'SH%', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts',
               'Rebounds Created', 'PIM', 'Total Penalties', 'Minor', 'Major',
               'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits',
               'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost',
               'Faceoffs %'
                ]]

In [32]:
df_pst['Season_Player'] = df_pst.Season
df_pst.Season_Player = df_pst.Season_Player.apply(str)
df_pst['Season_Player'] = df_pst.Season_Player + ' ' + df_pst.Player

In [93]:
df_pst['_id'] = range(df_pst.shape[0])
df_pst.drop('_id', axis =1, inplace=True)

In [34]:
df_pst.Season_Player[0]

'2017 Connor McDavid'

In [35]:
df_pst.shape

(9684, 34)

In [36]:
df_pst.iloc[0]

Season_Player       2017 Connor McDavid
Player                   Connor McDavid
Season                             2017
Position                              C
GP                                   82
TOI                              1766.8
Goals                                41
Total Assists                        67
First Assists                        39
Second Assists                       28
Total Points                        108
IPP                               88.52
Shots                               275
SH%                               14.91
iCF                                 434
iFF                                 357
iSCF                                329
iHDCF                               173
Rush Attempts                        18
Rebounds Created                     34
PIM                                  14
Total Penalties                       7
Minor                                 7
Major                                 0
Misconduct                            0
Penalties Drawn                      36
Giveaways                            67
Takeaways                           111
Hits                                 28
Hits Taken                          118
Shots Blocked                        46
Faceoffs Won                        376
Faceoffs Lost                       533
Faceoffs %                        41.36
Name: 0, dtype: object

In [51]:
#remove hyphens that throw off the SQL schema and replace them with 0
df_pst['Faceoffs %'].replace(['-'], [0], inplace=True)
df_pst['SH%'].replace(['-'], [0], inplace=True)
df_pst['IPP'].replace(['-'], [0], inplace=True)

In [47]:
(df_pst['Faceoffs %'] == '-').sum()

0

In [75]:
df_pst.Position.value_counts()

D       3305
C       2596
L       1912
R       1757
C, L      62
C, R      32
L, R      19
D, R       1
Name: Position, dtype: int64

In [43]:
df_pst.Season_Player.value_counts() == 2

2008 Alexandre Picard        True
2007 Alexandre Picard        True
2009 Alexandre Picard        True
2017 Sebastian Aho           True
2016 Riley Barber           False
2007 Brad Winchester        False
2010 Aaron Palushaj         False
2007 Robyn Regehr           False
2016 Nikolay Kulemin        False
2010 Chris Summers          False
2016 Nikita Zadorov         False
2011 Justin Faulk           False
2008 Antti Miettinen        False
2017 Mirco Mueller          False
2007 Rob Blake              False
2013 Matt Martin            False
2013 Philip Larsen          False
2007 Adam Berti             False
2014 Nicolas Deslauriers    False
2008 Ryan Callahan          False
2008 David Jones            False
2011 Brendan Bell           False
2008 Ian White              False
2017 Mike Reilly            False
2010 Justin Abdelkader      False
2014 Kevin Klein            False
2008 Eric Godard            False
2013 R.J. Umberger          False
2011 Ryan Smyth             False
2017 Mark Letestu           False
                            ...
2013 Ron Hainsey            False
2008 Shane O'Brien          False
2016 Chris Tierney          False
2016 Kyle Brodziak          False
2013 Tyson Barrie           False
2013 Patrik Nemeth          False
2007 Dennis Seidenberg      False
2017 William Carrier        False
2007 Paul Kariya            False
2008 Marc Savard            False
2016 Brandon Montour        False
2009 Matt Pettinger         False
2014 Nikita Zadorov         False
2016 Jimmy Vesey            False
2015 Noel Acciari           False
2008 Loui Eriksson          False
2009 Eric Brewer            False
2011 Ryan McDonagh          False
2014 James van Riemsdyk     False
2016 Dmitry Orlov           False
2017 Anthony Peluso         False
2008 Colin Fraser           False
2012 Erik Cole              False
2013 Jakub Kindl            False
2011 Mattias Ritola         False
2010 Freddy Meyer           False
2013 Brendan Smith          False
2015 Stuart Percy           False
2009 Dustin Kohn            False
2017 Jamie Oleksiak         False
Name: Season_Player, Length: 9680, dtype: bool

Drop players who ended up with duplicates. There are only 2, and neither ended up in my contracts database.

In [44]:
df_pst.drop(df_pst[df_pst['Player'] == 'Alexandre Picard'].index, inplace=True)
df_pst.drop(df_pst[df_pst['Player'] == 'Sebastian Aho'].index, inplace=True)

In [52]:
df_pst.to_csv('../data/pst_clean.csv', header=False, index=False)

In [53]:
len(df_pst.Player.unique())

2234

In [55]:
len(df.player.unique())

NameError: name 'df' is not defined

In [76]:
def clean_data(file = None):
    #load in dataframe from csv
    if file:
        df = pd.read_csv(file)
    else:
        df = pd.read_csv('../data/Contract_Details_PuckPedia_Mar_2019_Confidential.csv')

    #Drop columns I won't be using
    df.drop(['buyout_id', 'base_salary', 'p_bonuses', 's_bonuses',
            'total_salary'], axis=1, inplace=True)

    #rename Total Value column to a format I prefer
    df['total_value'] = df[' Total Value ']
    df.drop(' Total Value ', axis=1, inplace=True)

    #create a column for full player name
    df['Player'] = df['first_name'] + ' ' + df['last_name']

    #make a function to convert money strings to ints and apply
    money_to_int = lambda x: int(x.strip().strip('$()').replace(',', ''))
    df['cap_hit'] = df['cap_hit'].apply(money_to_int)
    df['total_value'] = df['total_value'].apply(money_to_int)

    #convert signing date and birthdate to date format and pull out the signing year
    df.signing_date = pd.to_datetime(df.signing_date)
    df.birthdate = pd.to_datetime(df.birthdate)
    df['signing_year'] = pd.DatetimeIndex(df.signing_date).year
    
    #get age at contract signing_date (not accounting for leap days)
    df['signing_age'] = df.signing_date - df.birthdate
    df.signing_age = df.signing_age.apply(lambda x: x.days // 365)
    
    #convert signing_date to a date instead of a datetime
    df['signing_date'] = pd.DatetimeIndex(df['signing_date']).date

    #remove row that had NaN for signing year (Defenseman Fyodor Tyutin had
    #the contract listed in other rows also so no data is lost
    df.drop(6991, axis=0, inplace=True)

    #Make signing year an int instead of a float
    df.signing_year = df.signing_year.apply(int)

    #Manually entered league salary cap history
    scap = {
            2005: 39000000,
            2006: 44000000,
            2007: 50300000,
            2008: 56700000,
            2009: 56800000,
            2010: 59400000,
            2011: 64300000,
            2012: 60000000,
            2013: 64300000,
            2014: 69000000,
            2015: 71400000,
            2016: 73000000,
            2017: 75000000,
            2018: 79500000,
            2019: 83000000,
           }

    #Add a column for the total salary cap in a contract's year signed
    df['signing_year_cap'] = df['signing_year'].apply(lambda x: scap[x])
    # and a column for the percentage of the cap in the year signed
    df['cap_pct'] = round(100 * df.cap_hit / df.signing_year_cap, 2)

    #convert birthdate to pandas datetime
    df.birthdate = pd.to_datetime(df.birthdate)

    #convert current season and contract_end to single year ints for ease of
    #calculations
    df.season = df.season.apply(lambda x: int(x[:4]))
    df.contract_end = df.contract_end.apply(lambda x: int(x[:4]))

    #Drop some non-standard situations (i.e. suspensions, season-opening IR,
    # salary retention adjustments)
    df.drop(df[df.first_name.map(len) > 15].index, inplace=True)

    #Drop one extremely young player
    df.drop(df[df.ufa_year > 2030].index, inplace = True)

    #Drop where ufa_year is null
    df.drop(df[df.ufa_year.isnull()].index, inplace=True)
    #Turn the remaining ufa years into integers
    df.ufa_year = df.ufa_year.apply(int)

    #Drop any contracts less than league minimum in 2009
    df.drop(df[df.cap_hit < 500000].index, inplace=True)

    #Replace the position names for two players whose positions don't match the rest
    df.replace(['RW', 'LW'], ['Right Wing', 'Left Wing'], inplace=True)

    #drop entry level contracts
    df.drop(df[df.contract_level == 'entry_level'].index, inplace=True)

    #Add a column for whether the contract was signed as UFA or RFA
    df['signing_status'] = df['signing_year'] >= df['ufa_year']
    df['signing_status'] = df['signing_status'].apply(ufa_check)


    return df

#auxillary function to check if contract was signed as UFA or RFA
def ufa_check(x):
    if x == True:
        return 'UFA'
    else:
        return 'RFA'

In [77]:
df = clean_data()

In [62]:
df = pd.read_csv('../data/Contract_Details_PuckPedia_Mar_2019_Confidential.csv')

In [63]:
df.drop(['buyout_id', 'base_salary', 'p_bonuses', 's_bonuses',
            'total_salary'], axis=1, inplace=True)

In [64]:
#rename Total Value column to a format I prefer
df['total_value'] = df[' Total Value ']
df.drop(' Total Value ', axis=1, inplace=True)

In [65]:
#create a column for full player name
df['Player'] = df['first_name'] + ' ' + df['last_name']

In [66]:
#make a function to convert money strings to ints and apply
money_to_int = lambda x: int(x.strip().strip('$()').replace(',', ''))
df['cap_hit'] = df['cap_hit'].apply(money_to_int)
df['total_value'] = df['total_value'].apply(money_to_int)

In [67]:
#convert signing date to date format and pull out the signing year
df.signing_date = pd.to_datetime(df.signing_date)

#df['signing_date'] = pd.DatetimeIndex(df['signing_date']).date
df['signing_year'] = pd.DatetimeIndex(df.signing_date).year

In [68]:
#remove row that had NaN for signing year (Defenseman Fyodor Tyutin had
#the contract listed in other rows also so no data is lost
df.drop(6991, axis=0, inplace=True)

In [69]:
#Make signing year an int instead of a float
df.signing_year = df.signing_year.apply(int)

In [70]:
#Manually entered league salary cap history
scap = {
        2005: 39000000,
        2006: 44000000,
        2007: 50300000,
        2008: 56700000,
        2009: 56800000,
        2010: 59400000,
        2011: 64300000,
        2012: 60000000,
        2013: 64300000,
        2014: 69000000,
        2015: 71400000,
        2016: 73000000,
        2017: 75000000,
        2018: 79500000,
        2019: 83000000,
       }

In [71]:
#Add a column for the total salary cap in a contract's year signed
df['signing_year_cap'] = df['signing_year'].apply(lambda x: scap[x])
# and a column for the percentage of the cap in the year signed
df['cap_pct'] = round(100 * df.cap_hit / df.signing_year_cap, 2)

In [72]:
#convert birthdate to pandas datetime
df.birthdate = pd.to_datetime(df.birthdate)

In [73]:
#get age at contract signing_date (not accounting for leap days)
df['signing_age'] = df.signing_date - df.birthdate
df.signing_age = df.signing_age.apply(lambda x: x.days // 365)

TypeError: ufunc subtract cannot use operands with types dtype('O') and dtype('<M8[ns]')